<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Recipe</title>
</head>
<body>
    <h1>Enter a new recipe:</h1>
    <hr>
    <form action="/recipes" method="POST">
        <label>Recipe name
            <input type="text" name="recipeTitle">
        </label><br>
        <label>Ingredients
            <input type="text" name="ingredients">
        </label><br>
        <hr>
        <input type="submit" value="Add Recipe">
    </form>
</body>
</html>