<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>new recipe</title>
</head>
<body>
    <h1>enter a new recipe:</h1>
    <hr>
    <form action="/recipes" method="POST">
        <label>recipe name
            <input type="text" name="recipeTitle">
        </label><br>
        <hr>
        <input type="submit" value="add Recipe">
    </form>
</body>
</html>